<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2018, 2022 Axel Paetzold

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LaunchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CountryActivity"/>
        <activity
            android:name=".RegionActivity"
            android:parentActivityName=".CountryActivity"/>
        <activity
            android:name=".SectorActivity"
            android:parentActivityName=".RegionActivity"/>
        <activity
            android:name=".RockActivity"
            android:parentActivityName=".SectorActivity"/>
        <activity
            android:name=".RouteActivity"
            android:parentActivityName=".RockActivity"/>
        <activity
            android:name=".DescriptionActivity"
            android:parentActivityName=".RouteActivity"/>
        <activity
            android:name=".AscendActivity"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity
            android:name=".PartnersActivity"
            android:parentActivityName=".AscendActivity"
            android:theme="@style/AppTheme.ActionBar"/>
        <activity android:name=".TourbookActivity"/>
        <activity android:name=".StatisticsActivity"
            android:parentActivityName=".TourbookActivity"/>
        <activity android:name=".TourbookAscendActivity"/>
        <activity android:name=".RegionManagerActivity"/>
        <activity android:name=".PreferencesActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.ActionBar">
        </activity>
        <activity
            android:name=".AboutLibrariesActivity"
            android:exported="false"
            android:parentActivityName=".AboutActivity"
            android:theme="@style/AppTheme.ActionBar">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>
</manifest>
